!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title jsclass
    = stylesheets
    %link{'rel' => 'stylesheet', 'type' => 'text/css', 'href' => 'http://fonts.googleapis.com/css?family=Inconsolata:400,700|Open+Sans:300italic,400italic,700italic,400,300,700'}
  %body

    .nav
      %h1
        = link 'jsclass', '/'
      %p.download
        = link 'Download v4.0.1', '/assets/JS.Class.4-0-1.zip'

      %h4 Introduction
      %ul
        %li
          = link 'Getting started', '/introduction.html'
        %li
          = link 'Supported platforms', '/platforms.html'
        %li
          = link 'Package manager', '/packages.html'
        %li
          = link 'License &amp; acknowledgements', '/license.html'

      %h4 Community
      %ul
        %li
          = link 'Mailing list', 'http://groups.google.com/group/jsclass-users'
        %li
          = link 'GitHub repository', 'http://github.com/jcoglan/jsclass'

      %h4 Core reference
      %ul
        %li
          = link 'Creating classes', '/classes.html'
        %li
          = link 'Using modules', '/modules.html'
        %li
          = link 'Modifying classes/modules', '/modifyingmodules.html'
        %li
          = link 'Singleton methods', '/singletonmethods.html'
        %li
          = link 'Class methods', '/classmethods.html'
        %li
          = link 'Keyword methods', '/keywords.html'
        %li
          = link 'Inheritance', '/inheritance.html'
        %li
          = link 'Method binding', '/binding.html'
        %li
          = link 'Metaprogramming hooks', '/hooks.html'
        %li
          = link 'Reflection'
        %li
          = link 'Debugging support', '/debugging.html'
        %li
          = link 'The Kernel module', '/kernel.html'
        %li
          = link 'Equality and hashing', '/equality.html'
        %li
          = link 'Interfaces'
        %li
          = link 'Singletons'

      %h4 Standard library
      %ul
        %li
          = link 'Command'
        %li
          = link 'Comparable'
        %li
          = link 'Console'
        %li
          = link 'ConstantScope'
        %li
          = link 'Decorator'
        %li
          = link 'Deferrable'
        %li
          = link 'Enumerable'
        %li
          = link 'Enumerator'
        %li
          = link 'Forwardable'
        %li
          = link 'Hash, OrderedHash', '/hash.html'
        %li
          = link 'LinkedList', '/linkedlist.html'
        %li
          = link 'MethodChain'
        %li
          = link 'Observable'
        %li
          = link 'Proxy', '/proxies.html'
        %li
          = link 'Range'
        %li
          = link 'Set, OrderedSet, SortedSet', '/set.html'
        %li
          = link 'StackTrace'
        %li
          = link 'State'
        %li
          = link 'TSort'

    .content
      = yield

    .footer
      Copyright &copy; 2007&ndash;2013 James Coglan, released under the MIT license

    = javascripts 'prettify', 'analytics'
    :plain
      <script type="text/javascript">
        (function() {
          var pre = document.getElementsByTagName('pre'), n = pre.length
          while (n--) {
            if (!pre[n].className) pre[n].className = 'prettyprint'
          }
          prettyPrint()
        })()
      </script>

